*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #222222;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

video{
    position: absolute;
}